<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="card-profile-image">
                <img src="assets/img/theme/transheaven.png" width="100%">
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <iframe src="https://etiqa-ncov-track.vercel.app/" height="925" width="100%">
         Sorry your browser does not support inline frames.
      </iframe>
      </div>
      <div>
        <div class="col-xl-34">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0"><b>Malaysia:</b> Recovered Cases</h3>
                </div>
                <div class="col text-right">
                  <a href="#/dashboard" class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-right table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Cases</th>
                    <th scope="col">Death</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      Johor
                    </th>
                    <td>
                      108K
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">88,998</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Kedah
                    </th>
                    <td>
                      65,240
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">-</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Kelantan
                    </th>
                    <td>
                      6,250
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">5,596</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Kuala Lumpur
                    </th>
                    <td>
                      151K
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">-</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Labuan
                    </th>
                    <td>
                      9,740
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">-</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
  </div>
 <div>

 </div>
</div>
